* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #eff3f5;
  font-family: Helvetica, Arial, sans-serif;
  padding: 1.5rem;
  color: rgb(12, 52, 75);
  line-height: 1.15;
}

a {
  text-decoration: none;
  color: rgb(61, 88, 102);
}

.pad {
  padding: 24px;
}

.area {
  padding: 18px 0;
}

.bot {
  padding-bottom: 16px;
}

.up {
  padding-top: 8px;
}

.down {
  margin-bottom: 8px;
}

.flex {
  display: flex;
}

.card {
  background-color: #fff;
}

.rad {
  border-radius: 8px;
}

.col {
  flex-direction: column;
}

.grow {
  flex-grow: 2;
}

.head {
  font-size: 28px;
  font-weight: 700;
}

.space {
  justify-content: space-between;
  align-items: center;
}

.link {
  font-size: 16px;
  padding-left: 6px;
}

.btn {
  height: 32px;
  padding: 0px 12px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.green {
  background: rgb(226, 248, 238);
  color: rgb(21, 189, 118);
}

.blue {
  background: rgb(216, 236, 253);
  color: rgb(15, 122, 216);
}

.white {
  background: #fff;
  color: #4f4f4f;
}

.shade {
  background: #232323;
  color: #fff;
}

.input {
  background: #121212;
  height: 32px;
  padding: 0px 12px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  color: #898989;
}
